<%= form_tag '/products', method: :post do %>
  <div>
<%= label_tag :user %>
<%= text_field_tag :user, current_user.email %>
  </div>

   <div>
<%= label_tag :product_name %>
<%= text_field_tag :product_id %>
  </div>

<div>
<%= label_tag :quantity %>
<%= text_area_tag :quantity %>
  </div> 

<div>
<%= label_tag :price %>
<%= text_area_tag :price %>
  </div> 

<div>
<%= submit_tag "Submit Product Info" %>
</div>

<% end %> 

