<h1> Order </h1>
<p>Order ID:</p>
<table class="table">
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Image</th>
  </tr>
  <% @order.carted_products.each do |carted_product| %>
  <tr>
    <td><%= carted_product.product.name %></td>
    <td><%= carted_product.quantity %></td>
    <td><img src="<%= Image.find_by(product_id: carted_product.product_id).image_url %>"></td> 
  </tr>
 <% end %>
</table>
 
<table class='table'>
<tr>
    <th>Subtotal:</th>
    <th>$<%= @order.subtotal %></th>
    <th>Tax:</th>
    <th>$<%= @order.tax %></th>
    <th>Total:</th> 
    <th>$<%= @order.total %></th> 
  </tr>
</table>
