<%= form_tag "/products/#{@product.id}/edit", method: :patch do %>
<div>
<%= label_tag :user %>
<%= text_field_tag :user, @product.user.email %>
</div>

<div>
<%= label_tag :product_name %>
<%= text_field_tag :product_name, @product.name %>
</div>

<div>
<%= label_tag :size %>
<%= text_field_tag :size, @product.size%>
</div> 

<div>
<%= label_tag :price %>
<%= text_field_tag :price, @product.price %>
</div> 

<div>
<%= label_tag :description %>
<%= text_area_tag :description, @product.description %>
</div>

<div>
<%= label_tag :supplier %>
<%= text_area_tag :supplier %>
</div>

<div>
<%= label_tag :image %>
<%= text_area_tag :image, @product.images.first.image_url %>
</div>

<div>
<%= submit_tag "Update Product Info" %>
</div>

<% end %>