<%= form_tag "/products/#{@product.id}/edit", method: :patch do %>
  <div>
<%= label_tag :name %>
<%= text_field_tag :name, @product.name %>
  </div>

<div>
<%= label_tag :size %>
<%= text_area_tag :size, @product.size%>
  </div> 

<div>
<%= label_tag :price %>
<%= text_area_tag :price, @product.price %>
  </div> 

<div>
<%= label_tag :description %>
<%= text_area_tag :description, @product.description %>
</div>

<div>
<%= label_tag :image %>
<%= text_area_tag :image, @product.image %>
</div>

<div>
<%= submit_tag "Update Product Info" %>
</div>

<% end %>