<center>
  <h1 class="title">Welcome to Shoes4YOU.com!</h1>
</center>
<div class="row">
<% @product_list.each do |shoe| %>
  <div class="col-md-3">
    <div class="product-box">
    <p><a href="/products/<%= shoe.id %>"> 
    <p> Item: <%= link_to shoe.name, "/products/#{shoe.id}" %></a></p>
    <p>Size: <%= shoe.size %></p>
    <p>Price: <%= shoe.price %></p>
    <p>Description: <%= shoe.description %></p>
    <img src="<%= shoe.image %>" class="img-responsive">
    </div>
  </div>
<% end %>
</div>