<center>
  <h1 class="title">Welcome to<br>Shoes4YOU.com</h1>
  <%= link_to "Show Discounted Items", "/products?view=discounted" %> <br><%= link_to "Price(lowest to highest)", "/products?view=order_by_price" %><br>
  <%= link_to "Price(highest to lowest)", "/products?view=order_by_price_desc" %><br>
   <%= link_to "Random Product", "/products/random" %>
</center>
<div class="row">
  <% @product_list.each do |shoe| %>
  <div class="col-md-3">
    <div class="product-box">
      <a href="/products/<%= shoe.id %>"> 
        <p>Item: <%= shoe.name %></p></a>
        <p>Size: <%= shoe.size %></p>
        <p>Price: <%= number_to_currency(shoe.price) %></p>
        <p>Description: <%= shoe.description %></p>
         
         <img src="<%= shoe.images.first.image_url %>" class="img-responsive">
    
    </div>
    </div>
  <% end %>
</div>

