<center>
  <h1>Welcome to Shoes4YOU.com!</h1>
</center>

<div>
<div class="product-box">
  <% @product_list.each do |shoe| %>
  <div class="col-md-3">
    <div>
    <p>Item: <%= shoe.name %></p>
    <p>Size: <%= shoe.size %></p>
    <p>Price: <%= number_to_currency(shoe.price) %></p>
    <p>Description: <%= shoe.description %></p>
    <img src="<%= shoe.image %>" class="img-responsive" alt="responsive image">
  </div>
</div>
</div>
<% end %>