<h1>Shoes</h1>
<p><%= @product.name %></p>

<p>Item: <%= @product.name %></p>
    <p>Size: <%= @product.size %></p>
    <p>Supplier: <%= @product.supplier.name %></p>
    <p>Description: <%= @product.description %></p>
    <p> <%= @product.sale_message %></p>
    <p>Price: <%= number_to_currency(@product.price) %></p>
    <p>Tax: <%= number_to_currency(@product.tax) %> </p>
    <p>Total: <%= number_to_currency(@product.total) %> </p>

<% @product.images.each do |image| %>
    <img src="<%= image.image_url %>" class="img-responsive" alt="responsive image">
    <% end %>
<div class="dropup">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Modify/Delete
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#"><%= link_to "Delete", "/products/#{@product.id}", method: :delete %></a></li>
    <li><a href="#"><%= link_to "Edit", "/products/#{@product.id}/edit" %></a></li>
  </ul>

 <%= form_tag '/orders', method: :post do %> 
  <div>
<%= label_tag :quantity %>
<%= text_field_tag :quantity %>
  </div>
    <div>
<%= label_tag :product_id %>
<%= text_field_tag :product_id %>
  </div>

<div>
<%= submit_tag "Buy Now" %>
</div>
<% end %>
   
</div>


