<h1>Item updated</h1>
<p>Item: <%= shoe.name %></p>
    <p>Size: <%= shoe.size %></p>
    <p>Price: <%= number_to_currency(shoe.price) %></p>
    <p>Description: <%= shoe.description %></p>
    <img src="<%= shoe.image %>" class="img-responsive" alt="responsive image">

    NO LONGER NEEDED BC OF REDIRECTS