<h1>Supplier Info</h1>
<p>Supplier Number: <%= @supplier.id %></p>
<p>First Name: <%= @supplier.first_name %></p>
<p>Last Name: <%= @supplier.last_name %></p>
<p>Company Name: <%= @supplier.name %></p>
<p>Email: <%= @supplier.email %></p>
<p>Phone: <%= @supplier.phone %></p>
<p>Active: <%= @supplier.active %></p>

<p><%= link_to "Edit Supplier Information", edit_supplier_path %></p>
<p><%= link_to "Remove Supplier", "/suppliers/#{@supplier.id}", method: :delete %></p>